body {
    /* So as not to interfere */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    font-family: Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 250px;
}
button{
    font-size: 100px;
    background-color: #3498db;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #1f618d;
}